# 1. 그래프와 시각화

- 막대 그래프
- 히스토그램
- 선 그래프
- 산점도

## 막대 그래프
- 막대 그래프는 범주별로 도수, 횟수, 퍼센트 등의 크기만큼 막대를 그리는 그래프
- 범주별 미세한 차이를 명확하게 전달할 수 있는 그래프

### 막대 그래프 예제
- 영화별 아카데미 수상 횟수
<p>
<table cellspacing="20">
<tr>
    <td>영화 제목</td>
    <td>Annie Hall</td>
    <td>Ben-Hur</td>
    <td>Casablanca</td>
    <td>Gandhi</td>
    <td>West Side Story</td>
</tr>
<tr>
    <td>수상 횟수</td>
    <td>5</td>
    <td>11</td>
    <td>3</td>
    <td>8</td>
    <td>10</td>
</tr>
</table>
</p>

* x 축: 범주(영화 제목)
* y 축: 도수(수상 횟수)

In [1]:
#from matplotlib import pyplot as plt
import matplotlib

ModuleNotFoundError: No module named 'matplotlib'

In [5]:
movies = ["Annie Hall", "Ben-Hur", "Casablanca", "Gandhi", "West Side Story"]
num_oscars = [5, 11, 3, 8, 10]

### 막대 그래프 유의사항
- X 축과 Y축을 지정할때는 주의해야 한다.

- 2017년과 2018년 사람들이 데이터 과학에 대해 언급하는 것을 경험한 횟수
<table>
<tr>
    <td>연도</td>
    <td>2017</td>
    <td>2018</td>
</tr>
<tr>
    <td>횟수</td>
    <td>500</td>
    <td>505</td>
</tr>
</table>

#### y축의 시작을 499로 잡는 경우

In [5]:
mentions = [500, 505]
years = [2017, 2018]

#### y축의 시작을 0으로 잡는 경우

## 히스토그램

- 막대 그래프의 한 종류
- 양적 데이터를 범주로 사용할 때 유용하다.
    - 예를 들어, 무게, 길이, 시간, 점수 등 
    
- 숫자의 범위에 따라 나뉘어진 데이터를 막대 그래프로 보여줄 때 사용한다.
    - 양적 데이터들의 연속성을 반영하기 위해 막대 그래프들 사이의 간극이 없도록 표현한다.
    - 정해진 구간에 해당되는 항목의 개수나 빈도수를 보여주어 값의 분포를 쉽게 관찰
    
__참고__
- 질적 자료
    - 사칙 연산이 불가능
    - 비계측 자료(Nonmetric Data) 혹은 범주형 자료(Categorical Data)
    - 예) 직업, 종교, 성별

- 양적 자료
    - 사칙 연산 가능
    - 계측 자료(Metric Data) 혹은 숫자형 자료(Numerical Data)
    - 예) 몸무게, 용돈, 가격

### 히스토그램 예제

학생들의 점수가 다음과 같다.

    83, 95, 91, 87, 70, 0, 85, 82, 100, 67, 73, 77, 0

점수를 십분위수(10점 단위로 구분)로 구분하면 아래 표를 얻는다.

<p>
<table cellspacing="20">
<tr>
    <td>점수 구간(십분위수)</td>
    <td>0-9</td>
    <td>10-19</td>
    <td>20-29</td>
    <td>30-39</td>
    <td>40-49</td>
    <td>50-59</td>
    <td>60-69</td>
    <td>70-79</td>
    <td>80-89</td>
    <td>90-100</td>
</tr>
<tr>
    <td>학생 수</td>
    <td>2</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
    <td>3</td>
    <td>4</td>
    <td>3</td>
</tr>
</table>
</p>

위 데이터를 히스토그램으로 나타내면 다음과 같다.

* x 축: 점수 구간
* y 축: 학생 수

In [6]:
from collections import Counter
grades = [83, 95, 91, 87, 70, 0, 85, 82, 100, 67, 73, 77, 0]

histogram = Counter(min(grade // 10 * 10, 90) for grade in grades)

## 선 그래프

선 그래프는 막대 그래프의 상단 중심부를 선분으로 연결하여 범주별 변화를 비교하는 그래프이다. 
시계열 데이터에 대한 정보를 전달할 때 유용하다.

### 선 그래프 예제

1950년 부터 10년 주기로 미국 국내총생산(GDP)를 정리한 표가 다음과 같다. 
단위는 10억달러이다.

<p>
<table cellspacing="20">
<tr>
    <td>연도</td>
    <td>1950</td>
    <td>1960</td>
    <td>1970</td>
    <td>1980</td>
    <td>1990</td>
    <td>2000</td>
    <td>2010</td>
</tr>
<tr>
    <td>GDP</td>
    <td>300.2</td>
    <td>543.3</td>
    <td>1075.9</td>
    <td>2862.5</td>
    <td>5979.6</td>
    <td>10289.7</td>
    <td>14958.3</td>
</tr>
</table>
</p>

위 데이터를 선 그래프로 나타내면 다음과 같다.

* x 축: 연도
* y 축: GDP

In [16]:
years = [1950, 1960, 1970, 1980, 1990, 2000, 2010]
gdp = [300.2, 543.3, 1075.9, 2862.5, 5979.6, 10289.7, 14958.3]

## 산점도

산점도는 두 변수 간의 연관 관계를 2차원 평면 상에서 점으로 찍어 보여 주는 그래프이다.

### 산점도 예제

어떤 웹사이트 회원의 친구 수와 하룻동안의 사이트 이용시간 사이의 연관 관계를 담은 표가 다음과 같다.

<p>
<table cellspacing="20">
<tr>
    <td>친구 수</td>
    <td>70</td>
    <td>65</td>
    <td>72</td>
    <td>63</td>
    <td>71</td>
    <td>64</td>
    <td>60</td>
    <td>64</td>
    <td>67</td>
</tr>
<tr>
    <td>이용 시간</td>
    <td>175</td>
    <td>170</td>
    <td>205</td>
    <td>120</td>
    <td>220</td>
    <td>130</td>
    <td>105</td>
    <td>145</td>
    <td>190</td>
</tr>
<tr>
    <td>사용자 라벨</td>
    <td>a</td>
    <td>b</td>
    <td>c</td>
    <td>d</td>
    <td>e</td>
    <td>f</td>
    <td>g</td>
    <td>h</td>
    <td>i</td>
</tr>
</table>
</p>

위 데이터를 선 그래프로 나타내면 다음과 같다.

* x 축: 친구 수
* y 축: 이용 시간

In [17]:
friends = [ 70,  65,  72,  63,  71,  64,  60,  64,  67]
minutes = [175, 170, 205, 120, 220, 130, 105, 145, 190]
labels =  ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']

### 산점도 유의사항
- 막대 그래프의 경우처럼 축을 지정시 유의해야함

- 예) 다섯 명의 1차, 2차 테스트 점수 
<p>
<table cellspacing="20">
<tr>
    <td>1차 테스트</td>
    <td>99</td>
    <td>90</td>
    <td>85</td>
    <td>97</td>
    <td>80</td>
</tr>
<tr>
    <td>2차 테스트</td>
    <td>100</td>
    <td>85</td>
    <td>60</td>
    <td>90</td>
    <td>70</td>
</tr>
</table>
</p>

#### 축 지정

* x 축: 1차 테스트 점수
* y 축: 2차 테스트 점수

#### 양 축의 척도(scale)가 다른 경우

In [19]:
test_1_grades = [ 99, 90, 85, 97, 80]
test_2_grades = [100, 85, 60, 90, 70]

결론: 1차 테스트, 2차 테스트 점수가 별 변동이 없는 것으로 보인다.

#### 양 축의 척도가 동일한 경우

In [20]:
test_1_grades = [ 99, 90, 85, 97, 80]
test_2_grades = [100, 85, 60, 90, 70]

결론: 1차 테스트 점수가 높은 친구가 2차 테스트에서 보다 높은 점수를 얻었음을 알 수 있다.